<div class="fields step-1">
  <h2 class="fs-title">Title</h2>
    <h1 class="fs-subtitle">Choose the title of the component.</h1>
  <div class="fields">
    <%= f.hidden_field :is_map, value: false %>
    <%= f.hidden_field :is_slider, value: false %>
    <div class="field">
      <%= f.label :title, class: "required" %>
      <%= f.text_field :title, class: "title" %>
    </div>
    <div class="field">
      <%= f.label :position %>
      <%= f.number_field :position, placeholder: "ex. 5" %>
    </div>
  </div>
</div>

<hr>

<div class="wrap-panel-alert">
  <div class="alert alert-info alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Info! Components do not generate nav pills. Components are appended at the bottom of the content page that you bind it.
  </div>
  <div class="alert alert-info alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Info! Component [ Position ] represents a non-linear integer index that decides the order modules appear. Higher values are displayed earlier.</br>
          Notice that it will take into account the parent-content's index as well.</br>
          Ex. If the parent content has a position-index of [ 32 ] and contains a slider child with an index of [ 9000 ] and finally there is this component with index [ 5 ]; then the result will be:</br>
  </div>
</div>
