<%= form_for @invoice, remote: true do |f| %>

  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@invoice.errors.count, "error") %> prohibited
        this reservation from being saved:
      </h2>
      <ul>
        <% @invoice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
      <div class="panel-heading" role="tab" id="info-heading">
          <a data-toggle="collapse" data-parent="#accordion" href="#info-collapse" aria-expanded="true" aria-controls="info-collapse"><i class="fa fa-info"></i>Invoice Info</a>
      </div>
      <div id="info-collapse" role="tabpanel" class="panel-collapse collapse in" aria-labelledby="info-heading">
        <div class="panel-body">
          <div class="fields">
            <div class="field">
              <label class="block required">Is Paid</label>
              <%= f.hidden_field :is_paid, value: false %>
              <% if @invoice.is_paid == true %>
                <%= f.text_field :is_paid, class: "js-invoice-is-paid", type: "checkbox", checked: true, value: "true",
                                data: { off_label: "No", on_label: "Yes", off_active_cls: "btn-warning", on_active_cls: "btn-primary",
                                        on_title:"Yes", off_title: "No", switch_always: true } %>
              <% else %>
                <%= f.text_field :is_paid, class: "js-invoice-is-paid", type: "checkbox", value: "false",
                                  data: { off_label: "No", on_label: "Yes", off_active_cls: "btn-warning", on_active_cls: "btn-primary",
                                          on_title:"Yes", off_title: "No", switch_always: true } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
