<div class="row">
  <% if @content.components.present? %>
  <% content_set = false %>
  <% object.components.order(position: :desc).each_with_index do |c, index| %>
    <% if object.position.blank? %>
      <% object.position = 1000 %>
    <% end %>
    <% if object.position > c.position && content_set == false %>
    <div class="content-<%= index %>">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= object.content.html_safe %>
        <% content_set = true %>
        <div class="booking-search">
          <%= link_to bookings_search_path do %>
            <div class="cube active">
              <div class='design'> Book now </div>
              <div class='development'> Book now </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 component-<%= index %>">
        <%= c.content.html_safe %>
      </div>
    <% end %>
  <% else %>
  <div class="content-0">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= object.content.html_safe %>
        <% content_set = true %>
        <div class="booking-search">
          <%= link_to bookings_search_path do %>
            <div class="cube active">
              <div class='design'> Book now </div>
              <div class='development'> Book now </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
