<%= form_for @user, remote: true do |u| %>
<%= u.fields_for :profile do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this profile from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="identity-heading">
          <a data-toggle="collapse" data-parent="#accordion" href="#identity-collapse" aria-expanded="true" aria-controls="identity-collapse"><i class="fa fa-user"></i>Identity</a>
        </div>
        <div id="identity-collapse" role="tabpanel" class="panel-collapse collapse in" aria-labelledby="identity-heading">
          <div class="panel-body">
            <div class="fields">
              <div class="field">
                <%= f.label :forename %>
                <%= f.text_field :forename %>
              </div>

              <div class="field">
                <%= f.label :surname %>
                <%= f.text_field :surname %>
              </div>

              <div class="field">
                <%= f.label :date_of_birth %>
                <div class="date">
                  <%= f.text_field :date_of_birth, { autocomplete: "off", class: "datepicker" } %>
                </div>
              </div>

              <% if current_user.profile.admin == true %>
              <div class="field">
                <%= f.label :role, class: "required" %>
                <%= f.select :role, ["Employee", "Manager"], {},
                                  { class: "selectpicker", autocomplete: "off",
                                    'data-width' => "100%", 'data-header' => "Select Role" } %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="location-heading">
          <a data-toggle="collapse" data-parent="#accordion" href="#location-collapse" aria-expanded="true" aria-controls="location-collapse"><i class="fa fa-map-marker"></i>Location</a>
        </div>
        <div id="location-collapse" role="tabpanel" class="panel-collapse collapse" aria-labelledby="location-heading">
          <div class="panel-body">
            <div class="fields">
              <div class="field">
                <%= f.label :country %>
                <%= f.country_select :country, { priority_countries: ["GR", "SE"] },
                                               { selected: "GR", class: "selectpicker", autocomplete: "off",
                                                 'data-width' => "100%", 'data-header' => "Select a Country", 'data-live-search' => "true" } %>
              </div>
              <div class="field">
                <%= f.label :province %>
                <%= f.text_field :province %>
              </div>
              <div class="field">
                <%= f.label :city %>
                <%= f.text_field :city %>
              </div>
              <div class="field">
                <%= f.label :street %>
                <%= f.text_field :street %>
              </div>
              <div class="field">
                <%= f.label :postal_code %>
                <%= f.text_field :postal_code %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="contact-heading">
          <a data-toggle="collapse" data-parent="#accordion" href="#contact-collapse" aria-expanded="true" aria-controls="contact-collapse"><i class="fa fa-comment-o"></i>Contact Information</a>
        </div>
        <div id="contact-collapse" role="tabpanel" class="panel-collapse collapse" aria-labelledby="contact-heading">
          <div class="panel-body">
            <div class="fields">
              <div class="field">
                <%= f.label :email, class: "required" %>
                <%= u.text_field :email  %>
              </div>
              <div class="field">
                <%= f.label :mobile_phone %>
                <%= f.text_field :mobile_phone %>
              </div>
              <div class="field">
                <%= f.label :home_phone %>
                <%= f.text_field :home_phone %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if current_user.profile.admin == true %>
        <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="business-heading">
          <a data-toggle="collapse" data-parent="#accordion" href="#business-collapse" aria-expanded="true" aria-controls="business-collapse"><i class="fa fa-briefcase"></i>Business</a>
        </div>
        <div id="business-collapse" role="tabpanel" class="panel-collapse collapse" aria-labelledby="business-heading">
          <div class="panel-body">
            <div class="fields">
              <div class="field">
                <%= f.label :admin %>
                <%= f.hidden_field :admin, value: "false" %>
                <% if @user.profile.admin == true %>
                  <%= f.text_field :admin, type: "checkbox", checked: true, value: "true",
                                    data: { off_label: "No", on_label: "Yes", off_active_cls: "btn-warning", on_active_cls: "btn-primary",
                                            on_title:"Yes", off_title: "No", switch_always: true } %>
                <% else %>
                  <%= f.text_field :admin, type: "checkbox", value: "false",
                                    data: { off_label: "No", on_label: "Yes", off_active_cls: "btn-warning", on_active_cls: "btn-primary",
                                            on_title:"Yes", off_title: "No", switch_always: true } %>
                <% end %>

              </div>
              <div class="field">
                <%= f.label :approved %>
                <%= u.hidden_field :approved, value: "false" %>
                <% if @user.approved == true %>
                  <%= u.text_field :approved, type: "checkbox", checked: true, value: "true",
                                  data: { off_label: "No", on_label: "Yes", off_active_cls: "btn-warning", on_active_cls: "btn-primary",
                                          on_title:"Yes", off_title: "No", switch_always: true } %>
                <% else %>
                  <%= u.text_field :approved, type: "checkbox", value: "false",
                                    data: { off_label: "No", on_label: "Yes", off_active_cls: "btn-warning", on_active_cls: "btn-primary",
                                            on_title:"Yes", off_title: "No", switch_always: true } %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
<% end %>
